.DS_Store
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a
*.zip
*.rar

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.prof

*.kns

# logs
log
logs

# bak
bak


!/conf
/conf/*
!/conf/config.simple.yaml

!/conf/autoreply
/conf/autoreply/*
!/conf/autoreply/autoreply.simple.yaml

!/conf/huiguangbo/
/conf/huiguangbo/*
!/conf/huiguangbo/huiguangbo.simple.yaml

device.json
session.token
qrcode.png

tmp

QN
QN.exe
